.body {
  background-color: #ffffff;
}

.main-section {
  background-color: #2f303a;
}

.header {
  background-color: #ececec;
}

.team-section {
  background-color: #f5f4fa;
}

.footer {
  background-color: #2f303a;
}

.info-link {
  color: #2196f3;
}

.phone-link {
  color: #757575;
}

.contacts-link {
  color: #212121;
}

.portfolio-link {
  color: #212121;
}

.studio-link {
  color: #2196f3;
}

.title {
  color: #ffffff;
}

.button {
  color: #ffffff;
  background: #2196f3;
}

.title-benefits {
  color: #212121;
}

.title-benefits-text {
  color: #757575;
}

.title-activity {
  color: #212121;
}

.workers {
  color: #212121;
}

.profession {
  color: #757575;
}

.footer-address {
  color: #ffffff;
}

.footer-link {
  color: #ffffff;
}

.footer-email {
  color: #ffffff;
}

.button-portfolio {
  background-color: #2196f3;
  color: #ffffff;
}

.button-portfolios {
  background-color: #f5f4fa;
  color: #212121;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
